            @font-face {
              font-family: publicpixel; 
              src: url("PublicPixel.ttf") format("truetype"); 
              font-style: normal; 
              font-weight: normal; 
            } 

            body {
                font-family: publicpixel;
                font-size: 20px;
                color: #000000;
                margin-left: auto;
                margin-right: auto;
                background-image: url('img/fon.png');
                background-repeat: no-repeat;
                background-size: cover;
                text-align: center;
            }
            a {
              color: #000000;
              font-size: 20px;
              font-family: publicpixel;
              text-align: center;
              text-decoration: none;
            }
            a:hover {
              text-decoration: underline;
            }
            
            p {
              color: #000000;
              font-size: 10px;
              font-family: publicpixel;
              text-align: center;
            }
            h1 {
                color: #000000;
                font-size: 20px;
                font-family: publicpixel;
                text-align: center;
            }
            h2 {
                color: #000000;
                font-size: 15px;
                font-family: publicpixel;
                text-align: center;
            }
            hr {
                border-top: 5px solid black;
                border-radius: 10px;
                text-align: center;
            }
            img {
                    display: block;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
            }
